asgiref==3.7.2
boto3==1.28.56
botocore==1.31.56
certifi==2023.7.22
charset-normalizer==3.2.0
dj-database-url==2.1.0
Django==4.2.5
django-environ==0.11.2
django-on-heroku==1.1.2
django-storages==1.14.1
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
packaging==23.2
Pillow==10.0.1
psycopg2-binary==2.9.7
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==1.26.16
whitenoise==6.5.0
