{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
<h1>Add Location</h1>
{% endif %}

<div class="row">
  <form action="" method="POST" enctype="multipart/form-data" class="col s12" id="vehicle-form">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
</div>
<script>
  const selectEl = document.querySelectorAll('select');

  M.FormSelect.init(selectEl);

</script>
{% endblock %}