{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card vehicle-detail-card center-align">
      <div class="card-content white-text">
        <span class="card-title center-align">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} <span
            class="new badge {% if vehicle.get_condition_display == 'New' %}green{% else %}red{% endif %}"
            data-badge-caption="{{ vehicle.get_condition_display }}"></span></span>
        <img id="detail-img" src="https://catcollector-barrientosjesus.s3.us-west-1.amazonaws.com/{{ vehicle.image }}"
          alt="{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}">
        <div class="row">
          <p class="col s4"><em>{{ vehicle.odometer|intcomma }}mi</em></p>
          <p class="col s4">{{ vehicle.interior }}</p>
          <p class="col s4">{{ vehicle.engine }}</p>
        </div>
        <div class="row">
          {% if vehicle.is_available %}
          <p class="col s6">MSRP: ${{ vehicle.msrp|floatformat:2|intcomma }}</p>
          {% else %}
          <p class="col s6">SOLD FOR: ${{ vehicle.sold_for|floatformat:2|intcomma }}</p>
          {% endif %}
          <p class="col s6">{{ vehicle.get_transmission_display }}</p>
        </div>
        <p class="activator">{{ vehicle.notes }}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Notes<i class="material-icons right">close</i></span>
        <p>{{ vehicle.notes }}</p>
        <br>
        <br>
        <p>Thank you for clicking on our notes. We left this in here just for you :)
          <hr>
          <a href="https://bootstrapstudio.io/student-pack" target="_blank">Click here to redeem your free year of
            Bootstrap Studio thanks to GA</a>
        </p>
      </div>
      <div class="card-action">
        <a href="{% url 'vehicle_update' vehicle.id %}">Edit</a>
        {% if perms.main_app.delete_vehicle %}
        <a href="{% url 'vehicle_delete' vehicle.id %}">Delete</a>
        {% endif %}
        {% if vehicle.is_available and perms.main_app.change_vehicle %}
        <a href="{% url 'sell_vehicle' vehicle.id %}">Sell Vehicle</a>
        {% else %}
        <span class="red-text text-darken-3">SOLD</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>



{% endblock %}