{% extends 'base.html' %}
{% block content %}
<h1>Dashboard</h1>
<hr>
<table class="striped centered responsive-table">
    <thead>
        <th>Make</th>
        <th>Model</th>
        <th>MSRP</th>
        <th>Sold For</th>
    </thead>
    <tbody>
        {% if object_list %}
        {% for v in object_list %}
        <tr>
            <td>{{ v.make }}</td>
            <td>{{ v.model }}</td>
            <td>{{ v.msrp }}</td>
            <td>{{ v.sold_for }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>NO</td>
            <td>VEHICLES</td>
            <td>SOLD</td>
            <td>YET</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% if object_list %}
<div class="row">
    <div class="row">
    <div class="col s6">
        <canvas id="totalSalesChart" width="500" height="500"></canvas>
    </div>
    <div class="col s6">
        <canvas id="salesByMakeChart" width="500" height="500"></canvas>
    </div>
</div>
{% endif %}
<script>
    let tsc = document.getElementById("totalSalesChart").getContext("2d");
    let sbmc = document.getElementById("salesByMakeChart").getContext("2d");

    let totalSalesChart = new Chart(tsc, {
        type: "line",
        options: {
            responsive: true,
            title: {
                text: "",
                display: false,
            },
            scales: {
                y: {
                    ticks: {
                        precision: 0,
                        color: 'white'
                    },
                    grid: {
                        color: 'white'
                    }
                },
                x: {
                    ticks: {
                        color: 'white'
                    },
                    grid: {
                        color: 'white'
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    labels: {
                        color: "white"
                    }
                }
            }
        },
    });
    let salesByMakeChart = new Chart(sbmc, {
        type: "bar",
        options: {
            responsive: true,
            title: {
                text: "",
                display: false,
            },
            scales: {
                y: {
                    ticks: {
                        precision: 0,
                        color: 'white'
                    },
                    grid: {
                        color: 'white'
                    }
                },
                x: {
                    ticks: {
                        color: 'white'
                    },
                    grid: {
                        color: 'white'
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    labels: {
                        color: "white"
                    }
                }
            }
        },
    });
    function loadChart(chart, endpoint) {
        fetch(endpoint)
            .then((response) => {
                if (!response.ok) {
                    throw new Error("No Data Retreived!!");
                }
                return response.json();
            })
            .then((jsonResponse) => {
                const title = jsonResponse.title;
                const labels = jsonResponse.data.labels;
                const datasets = jsonResponse.data.datasets;

                chart.data.datasets = [];
                chart.data.labels = [];

                chart.options.title.text = title;
                chart.options.title.display = true;
                chart.data.labels = labels;
                datasets.forEach((dataset) => {
                    chart.data.datasets.push(dataset);
                });
                chart.update();
            })
            .catch((error) => {
                console.error("Failed To Load Data!!");
            });
    }

    function loadAllCharts() {
        loadChart(totalSalesChart, '/api/total_sales/');
        loadChart(salesByMakeChart, '/api/sales_by_make/');
    }

    loadAllCharts();
</script>

{% endblock %}