{% extends 'base.html' %}

{% block content %}
{% for v in object_list %}
<p>{{ v.make }}</p>
<p>{{ v.sold_for }}</p>

{% endfor %}
<canvas id="chart" width="500" height="500"></canvas>
<script>
let ctx = document.getElementById("chart").getContext("2d");

let chart = new Chart(ctx, {
  type: "bar",
  data: {
     labels: ["2020/Q1", "2020/Q2", "2020/Q3", "2020/Q4"],
     datasets: [
        {
          label: "Gross volume ($)",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [26900, 28700, 27300, 29200]
        }
     ]
  },
  options: {
     title: {
        text: "Gross Volume in 2020",
        display: true
     }
  }
});</script>
{% endblock %}
