{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  </head>
  <body>
    {% if user.is_authenticated %}
    <header class="navbar-fixed">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper grey darken-2">
          <a href="/" class="brand-logo"><img id="nav-logo" src="https://i.imgur.com/4Y616Y2.png" alt="Totally not made with AI logo" /></a>
          <ul class="right hide-on-med-and-down">
            {% if perms.add_vehicle %}
            <li><a href="{% url 'add_vehicle'  %}">Add Vehicle</a></li>
            <li><a href="{% url 'add_location'  %}">Add Location</a></li>
            {% endif %}
            <li><a href="{% url 'vehicle_index' %}">All Vehicles</a></li>
            <!-- Dropdown Trigger -->
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdown1"
                >{{ user.username }}<i class="material-icons right"
                  >arrow_drop_down</i
                ></a
              >
            </li>
          </ul>
        </div>
      </nav>
      {% endif %}
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer grey darken-2">
      <div class="right">
        All Rights Reserved, &copy; 2023 Dealership Mangement Solutions &nbsp;
      </div>
    </footer>
    <script>
      const dropdownEl = document.querySelector(".dropdown-trigger");
      M.Dropdown.init(dropdownEl);
    </script>
  </body>
</html>
