{% extends 'base.html' %}
{% block content %}


<div class="row">
    <section class="col s2">
        <ul>
            <li>Make</li>
            <li>Model</li>
            <li>Blah blah</li>
            <li>Masdfsdaf</li>
        </ul>
    </section>
    <section class="col s12 m10">
        <div class="row">
            {% for v in vehicles %}
            <div class="card col s12 m6 l4">
                <div class="card-image">
                    <img src="https://catcollector-barrientosjesus.s3.us-west-1.amazonaws.com/{{ v.image }}">
                    <span class="card-title">{{ v.make }} {{ v.model }}</span>
                </div>
                <div class="card-content">
                    <p>{{ v.notes }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'vehicle_detail' v.id %}">Details</a>
                </div>
                {% if v.is_available %}
                <span class="new badge green" data-badge-caption="Available!"></span>
                {% else %}
                <span class="new badge red" data-badge-caption="SOLD!"></span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</div>



{% endblock %}